/** Layout **/
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  main {
    flex: 1 0 auto;

    .container {
      float: left;
      width: 100%;
      padding: 0;
    }

    .logo-at-right {
      position: fixed;
      right: 0;
      height: 100vh;
      max-heigh: 100vh;

      img {
        box-sizing: border-box;
        padding-top: $header-height + 3rem;
        padding-right: 3rem;
        padding-bottom: 3rem;
        height: 100%;
      }
    }
  }
}
