@media print {
  .logo-at-right {
    display: none;
  }

  .logo-at-left {
    display: none;
  }

  .image-at-right {
    display: none;
  }

  .image-at-left {
    display: none;
  }

  .page {
    padding-left: 0;
    padding-right: 0;
    width: 95%;
  }
}

@media screen {
  .page {
    padding-left: 22%;
    padding-right: 30%;
  }
}

@media only screen and (max-width: 1440px) {
  .page {
    padding-left: 22%;
    padding-right: 30%;
  }
}

@media only screen and (max-width: 1200px) {
  .page {
    padding-left: 22%;
    padding-right: 30%;
  }

  #header-desktop .header-wrapper {
    padding-right: 1rem;
  }

  .search-dropdown.desktop {
    right: 1rem;
  }
}

@media only screen and (min-width: 960px) {
  #toc-small {
    display: none;
  }

  .left-menu-space {
    padding-left: 20%;
  }
}

@media only screen and (max-width: 960px) {
  .logo-at-right {
    display: none;
  }

  .logo-at-left {
    display: none;
  }

  .image-at-right {
    display: none;
  }

  .image-at-left {
    display: none;
  }

  #toc-large {
    display: none;
  }

  #toc-static {
    display: block;
  }

  .page {
    padding-left: 0;
    padding-right: 0;
    width: 95%;
  }

  #header-mobile {
    display: block;
  }
}

@media only screen and (max-width: 680px) {
  .logo-at-right {
    display: none;
  }

  .logo-at-left {
    display: none;
  }

  .image-at-right {
    display: none;
  }

  .image-at-left {
    display: none;
  }

  #header-desktop {
    display: none;
  }

  #header-mobile {
    display: block;
  }

  body.blur {
    overflow: hidden;
  }

  .page {
    width: 95%;
    padding-left: 0;
    padding-right: 0;

    [header-mobile] & {
      padding-top: $header-height;
    }

    [header-mobile=normal] & {
      padding-top: 0;
    }

    .categories-card {
      .card-item {
        width: 100%;
      }
    }
  }

  .copyright {
    .copyright-line {
      .icp-splitter {
        display: none;
      }
      .icp-br {
        display: block;
      }
    }
  }
}
