{{- $params := .Params | merge .Site.Params.page -}}

<article class="single summary" itemscope itemtype="http://schema.org/Article">
    {{- /* Summary content */ -}}
    <div class="content" style="float: left; width: 80%">
    <h1 class="single-title" itemprop="name headline">
        {{ .Date.Format "02.01.2006, 15:04" }}
    </h1>

    {{- /* Title */ -}}
    <h2 class="single-title" itemprop="name headline">
        <a href="{{ $.RelPermalink }}">
            {{ .Title }}
        </a>
    </h2>

        {{- with .Summary -}}
            {{- dict "Content" . "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
        {{- else -}}
            {{- .Description | safeHTML -}}
        {{- end -}}

<table>
<tbody>
<tr>
<td style="border: 0; width: 10%"><b>{{ T "where" }}:</b></td>
<td style="border: 0">
{{ range .Params.organizers }}
    <a href="{{ $.Site.BaseURL }}organizers/{{ . | urlize | safeHTML }}">{{ . }}</a>
{{- end -}}, 
{{ .Params.street | safeHTML }},
{{ .Params.address | safeHTML }}
</td>
</tr>
<td style="border: 0; width: 10%"><b>{{ T "genres" (dict "Count" 1) }}:</b></td>
<td style="border: 0">
{{ range .Params.genres }}
    <a href="{{ $.Site.BaseURL }}genres/{{ . | urlize | safeHTML }}">{{ . }}</a>
{{ end }}
</td>
</tr>
</tbody>
</table>

    </div>

    {{- /* Featured image */ -}}
    {{- $image := $params.featuredimagepreview | default $params.featuredimage -}}
    {{- with .Resources.GetMatch "featured-image" -}}
        {{- $image = .RelPermalink -}}
    {{- end -}}
    {{- with .Resources.GetMatch "featured-image-preview" -}}
        {{- $image = .RelPermalink -}}
    {{- end -}}
    {{- with $image -}}
        <div class="featured-image-preview-event" style="float: right; width: 20%">
                {{- dict "Src" . "Title" $.Description "Resources" $.Resources | partial "plugin/image.html" -}}
        </div>
    {{- end -}}

</article>
