{{- define "logo-at-left" -}}
<div class="logo-at-left" style="height: 100%; width: 20%; position: fixed; z-index: 1; top: 0; left: 0; padding-top: 31.4vh; padding-left: 2vw">
  <h2 class="single-title">{{ T "supporters" }}</h2>
  <img src="{{ .Site.BaseURL }}lib/img/bkm.png" style="width: 13vw; padding-bottom: 10px;">
  <img src="{{ .Site.BaseURL }}lib/img/Play-Out-Loud.png" style="width: 13vw; padding-bottom: 10px;">
  <img src="{{ .Site.BaseURL }}lib/img/Neustart-Kultur.png" style="width: 13vw">
</div>
{{- end -}}

