{{- define "logo-at-bottom" -}}
<div class="logo-at-bottom" style="padding: 2.5%">
  <h2 class="single-title">{{ T "supporters" }}</h2>
  <div style="display: flex; flex-wrap: wrap; justify-content: center;">
    <img src="{{ .Site.BaseURL }}lib/img/bkm.png" style="width: 400px; padding: 10px;">
    <img src="{{ .Site.BaseURL }}lib/img/Play-Out-Loud.png" style="width: 400px; padding: 10px;">
    <img src="{{ .Site.BaseURL }}lib/img/Neustart-Kultur.png" style="width: 400px; padding: 10px;">
  </div>
</div>
{{- end -}}

