{{- define "title" -}}
    {{- .Title }} - {{ T .Data.Singular | default .Data.Singular }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    <div class="page home" events>

<div class="toc" id="toc-large" style="visibility: visible; top: 3.5rem; width: 7vw; left: 22vw; position: absolute; text-align: right">
  <h2 class="toc-title">{{ T "filter" }}</h2>
<div id="toc-content-auto"><nav id="TableOfContents">
        {{ if (ne .Data.Plural "genres") }}<a href="{{ with $.Site.GetPage "taxonomyTerm" "genres" }}{{ .Permalink }}{{ end }}">{{ T "genres" (dict "Count" 2) }}</a></br>{{ end }}
        {{ if (ne .Data.Plural "organizers") }}<a href="{{ with $.Site.GetPage "taxonomyTerm" "organizers" }}{{ .Permalink }}{{ end }}">{{ T "organizers" (dict "Count" 2) }}</a></br>{{ end }}
        <a href="{{ with .Site.GetPage "/events" }}{{ .Permalink }}{{ end }}">{{ T "bytime" }}</a>
</nav></div>

</div>

    <div class="event-list left-menu-space">
        {{- /* Title */ -}}
        <h2 class="single-title animated pulse faster">
                {{- printf "%v" .Title -}}
        </h2>

<div class="toc" id="toc-small">
  <h3 style="float: left">{{ T "filter" }}</h3>
  <div class="toc-content" id="toc-content-auto" style="float: left; padding-left: 20px;">
    <nav id="TableOfContents">
      <ul>
        {{ if (ne .Data.Plural "genres") }}<li><a href="{{ with $.Site.GetPage "taxonomyTerm" "genres" }}{{ .Permalink }}{{ end }}">{{ T "genres" (dict "Count" 2) }}</a></li>{{ end }}
        {{ if (ne .Data.Plural "organizers") }}<li><a href="{{ with $.Site.GetPage "taxonomyTerm" "organizers" }}{{ .Permalink }}{{ end }}">{{ T "organizers" (dict "Count" 2) }}</a></li>{{ end }}
        <li><a href="{{ with .Site.GetPage "/events" }}{{ .Permalink }}{{ end }}">{{ T "bytime" }}</a></li>
      </ul>
    </nav>
  </div>
</div>

        {{- /* Paginate */ -}}
        {{- if .Pages -}}
                {{- range .Pages -}}
                    {{- .Render "summary_events" -}}
                {{- end -}}
        {{- end -}}
    </div>
    </div>
{{- end -}}
