{{- define "title" -}}
    {{- .Title }} - {{ T .Data.Singular | default .Data.Singular }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    <div class="page home" events style="padding-top: 14.6rem">

<div class="toc" id="toc-auto" style="visibility: visible; top: 31.4rem; min-width: 20vw; left: 22vw; position: absolute">
  <h2 class="toc-title">{{ T "filter" }}</h2>
<div class="toc-content" id="toc-content-auto"><nav id="TableOfContents">
  <ul>
        {{ if (ne .Data.Plural "genres") }}<li><a href="{{ with $.Site.GetPage "taxonomyTerm" "genres" }}{{ .Permalink }}{{ end }}">{{ T "genres" (dict "Count" 2) }}</a></li>{{ end }}
        {{ if (ne .Data.Plural "organizers") }}<li><a href="{{ with $.Site.GetPage "taxonomyTerm" "organizers" }}{{ .Permalink }}{{ end }}">{{ T "organizers" (dict "Count" 2) }}</a></li>{{ end }}
        <li><a href="{{ with .Site.GetPage "/events" }}{{ .Permalink }}{{ end }}">{{ T "bytime" }}</a></li>
  </ul>
</nav></div>

</div>

    <img src="{{ .Site.BaseURL }}lib/img/event_header.jpg" style="width: 100%">

    <div class="event-list" style="padding-left: 20%">
        {{- /* Title */ -}}
        <h2 class="single-title animated pulse faster">
                {{- printf "%v" .Title -}}
        </h2>

<div class="toc" id="toc-small">
  <h3 style="float: left">{{ T "filter" }}</h3>
  <div class="toc-content" id="toc-content-auto" style="float: left; padding-left: 20px;">
    <nav id="TableOfContents">
      <ul>
        {{ if (ne .Data.Plural "genres") }}<li><a href="{{ with $.Site.GetPage "taxonomyTerm" "genres" }}{{ .Permalink }}{{ end }}">{{ T "genres" (dict "Count" 2) }}</a></li>{{ end }}
        {{ if (ne .Data.Plural "organizers") }}<li><a href="{{ with $.Site.GetPage "taxonomyTerm" "organizers" }}{{ .Permalink }}{{ end }}">{{ T "organizers" (dict "Count" 2) }}</a></li>{{ end }}
        <li><a href="{{ with .Site.GetPage "/events" }}{{ .Permalink }}{{ end }}">{{ T "bytime" }}</a></li>
      </ul>
    </nav>
  </div>
</div>

        {{- /* Paginate */ -}}
        {{- if .Pages -}}
            {{- $pages := .Pages -}}
            {{- with .Site.Params.list.paginate | default .Site.Params.paginate -}}
                {{- $pages = $.Paginate $pages . -}}
            {{- else -}}
                {{- $pages = .Paginate $pages -}}
            {{- end -}}
                {{- range .Pages -}}
                    {{- .Render "summary_events" -}}
                {{- end -}}
            {{- partial "paginator.html" . -}}
        {{- end -}}
    </div>
    </div>
{{- end -}}
