{{- define "logo-at-left" -}}
<!-- no logo here -->
{{ end }}
{{- define "logo-at-right" -}}
<!-- no logo here -->
{{ end }}
{{- define "logo-at-bottom" -}}
<!-- no logo here -->
{{ end }}
{{- define "content" -}}
    {{- $params := .Scratch.Get "params" -}}
    {{- $profile := .Site.Params.home.profile -}}
    {{- $posts := .Site.Params.home.posts -}}

<script>
/* Randomly sort all children of class "summary" of an element of class "shuffle" */
shuffleChildren = function() {
    document.querySelectorAll('.shuffle').forEach(function(el) {
        var children = Array.prototype.slice.call(el.children, 0);
        children.sort(function() { return 0.5 - Math.random(); });
        el.childNodes.forEach( function(node) {
            if (!item.classList.contains('summary')) {
                node.remove();
            };
        });
        children.forEach(function(item) {
            if (item.classList.contains('summary')) {
                el.appendChild(item);
            };
        });
    });
};

window.onload = function() {
shuffleChildren();
};
</script>

    <div class="page home shuffle" places style="padding-left: 1rem; padding-right: 1rem; justify-content: center;">
    {{- /* Title */ -}}
    <h2 class="single-title" itemprop="name headline" style="width: 100%">
        {{ with (index .Site.Menus.main 1) }}{{ .Name }}{{ end }}
    </h2>


        {{- /* Content */ -}}
        {{- if .Content -}}
            <div class="single">
                <div class="content" id="content">
                    {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
                </div>
            </div>
        {{- end -}}

        {{- /* Posts */ -}}
        {{- if ne $posts.enable false | and .Site.RegularPages -}}
            {{- /* Paginate */ -}}
            {{- $pages := where .Site.RegularPages "Type" "places" -}}
            {{- if .Site.Params.page.hiddenFromHomePage -}}
                {{- $pages = where $pages "Params.hiddenfromhomepage" false -}}
            {{- else -}}
                {{- $pages = where $pages "Params.hiddenfromhomepage" "!=" true -}}
            {{- end -}}
            {{- range $pages.Reverse -}}
                {{- .Render "summary_places" -}}
            {{- end -}}
        {{- end -}}
    </div>
{{- end -}}
